:root {
  --color-bg: #101010;
  --color-bg-muted: #202020;
  --font-primary: #f0f0f0;
  --font-code: #c80000;
  --color-terciary: #d7f5ef;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-code: monospace;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-bg);
  color: var(--font-primary);
  font-family: var(--font-family-primary);
}

body {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  max-width: 700px;
}

code {
  font-size: 0.9rem;
  font-family: var(--font-family-code);
  background-color: var(--color-bg-muted);
  color: var(--font-primary);
  padding: 2px;
  border-radius: 0.5rem;
}

h1 {
  margin-top: 3.5rem;
}

h1:before {
  content: "# ";
}

h2 {
  margin-top: 3rem;
}

h2:before {
  content: "## ";
}

h3 {
  margin-top: 2.5rem;
}

h3:before {
  content: "### ";
}

li {
  margin: 5px 0;
}

p {
  line-height: 1.3rem;
}

p > span {
  color: #ff0080;
}

pre {
  padding: 1rem;
  background-color: var(--color-bg-muted);
}

pre[id="img-example"] {
  padding: 1rem;
}

pre > green {
  color: #5bb700;
}

pre > red {
  color: #d00068;
}

a {
  color: var(--font-primary);
  text-decoration: none;
  border-bottom: 2px solid var(--color-terciary);
  transition: all 0.2s ease-in-out;
  padding: 1px;
}

a:hover {
  color: black;
  background-color: var(--color-terciary);
}

img {
  width: 100%;
  height: auto;
}

div {
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  position: sticky;
  bottom: 1rem;
  right: 1rem;
}

div > a {
  text-decoration: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

div > a:hover {
  background-color: var(--color-bg);
}

@media screen and (max-width: 400px) {
  body {
    margin: 0.6rem;
    padding: 0.6rem;
    max-width: 100vw;
  }

  button {
    left: 0;
  }

  pre {
    overflow: scroll;
  }
}
